<mat-toolbar color="primary">
  <mat-toolbar-row  role="heading" class="">
    <span>Creatures hunting</span>

    <span class="spacer"></span>

    <div>
      <button mat-button routerLink="/pa165">Home</button>
      <button mat-button routerLink="/pa165/users" *ngIf="cookieIsAdmin">Users</button>
      <button mat-button routerLink="/pa165/monsters">Monsters</button>
      <button mat-button routerLink="/pa165/weapons">Weapons</button>
      <button mat-button routerLink="/pa165/areas">Areas</button>
    </div>
    <button class="logout" mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<cookie-law></cookie-law>
